<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8 col-sm-10" *ngIf="formData | async  as data; else loading">
            <div class="card">
                <form #medForm = "ngForm" (ngSubmit) = "saveForm(medForm.value)" >
                    <div class="card-header">
                        <h5 class="card-title">{{ data.title}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3" *ngFor="let field of data.section">
                            <div *ngIf="field.type == 'text'">
                                <label for="{{field.id}}">{{ field.question}}</label>
                                <input type="text" class="form-control" id="{{field.id}}" placeholder="{{field.displayText}}" name="{{field.id}}" ngModel>
                                
                            </div>
                            <div *ngIf="field.type == 'text-field'">
                                <label for="{{field.id}}">{{ field.question}}</label>
                                <textarea roww="2" cols="3" type="text" class="form-control" id="{{field.id}}" placeholder="{{field.displayText}}" name="{{field.id}}" ngModel></textarea>
                            </div>
                            <div *ngIf="field.type == 'date'">
                                <label for="{{field.id}}">{{ field.question}}</label>
                                <div class="input-group">
                                    <input  roww="2" cols="3" type="date" class="form-control" id="{{field.id}}" placeholder="{{field.displayText}}" name="{{field.id}}" ngModel>
                                </div>
                            </div>

                            <div *ngIf="field.type == 'CB'">
                                <label for="{{field.id}}">{{ field.question}}</label>
                                <div class="form-check form-switch">
                                    <div *ngFor="let option of field.options; let i = index">
                                        <input class="form-check-input" type="checkbox" value="{{option}}" id="{{i}}" name="{{field.id}}" ngModel>
                                        <label class="form-check-label" for="{{i}}">{{option}}</label>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="field.type == 'DDL'">
                                <label for="{{field.id}}">{{ field.question}}</label>
                                <select class="form-select"  name="{{field.id}}" ngModel>
                                    <option selected>{{field.default}}</option>
                                    <option *ngFor="let option of field.options" value="{{option}}">{{option}}</option>
                                </select>
                                
                            </div>
                            <div *ngIf="field.type == 'radio'">
                                <label for="{{field.id}}">{{ field.question}}</label>
                                <div *ngFor="let option of field.options; let i = index">
                                    <input class="form-check-input" type="radio" value="{{option}}" name="{{field.id}}" id="{{field.id}}" ngModel>
                                    <label class="form-check-label" for="{{i}}">{{option}}</label>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-success" type="submit" name="submit" value="Save Form"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<ng-template #loading>
    <div class="card">
        <div class="card-body">
            Form data is loading. Please be patient. 
        </div>
    </div>
</ng-template>