<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
      <div class="container-fluid">
        <img src="./assets/MongoDB_Logo_RGB_Logomark_White.svg" alt="" height="40" class="d-inline-block align-text-top">
        <a class="navbar-brand" href="#">
          MongoMD
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="form-list">Forms List</a>
            </li>
            <li class="nav-item">
              <a [routerLink]= "['/form-create']" class="nav-link active">Create New Form</a>
            </li>
            <li class="nav-item">
              <a [routerLink]= "['/responses']" class="nav-link active">Search Responses</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="form-list">Reports</a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="container-fluid">
  <div class="row mt-nav">
    <router-outlet></router-outlet>
  </div>
</div>
