FlexFormMobile/FlexFormMobile/obj
FlexFormMobile/FlexFormMobile/bin
FlexFormMobile/FlexFormMobile/FlexFormMobile.Android/obj
FlexFormMobile/FlexFormMobile/FlexFormMobile.Android/bin
FlexFormMobile/FlexFormMobile/FlexFormMobile/obj
FlexFormMobile/FlexFormMobile/FlexFormMobile/bin
.vscode/*
.browserslistrc
.editorconfig
